<!DOCTYPE html>
<html>
<head>
  <title>Login Unsuccessful</title>
  <!-- Add Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <h2>Login is Not Successful</h2>
      <p>Your login attempt was not successful. Please check your username and password and try again.</p>
      <a href="/signup" class="btn btn-primary">Click here to Signup</a>
    </div>
  </div>
</div>

<!-- Add Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>
